@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #eee;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
    border-width: 0;
    border-radius: 3px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    text-align: center;
    padding: 20px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    display: block;
    background: #FA742F;
}

#sidebar ul li a:hover {
    color: #FA742F;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #07678F;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* card */

.card{
    background-color: #fff;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
    border-width: 0;
    border-radius: 3px;
    display: block;
}

.card-header {
    font-size: 18px;
    font-weight: 300;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    background-color: transparent;
}

.card-header-divider {
    border-bottom: 1px solid #d9d9d9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(217, 217, 217);
    margin: 0 1.538rem 8px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.2307rem;
}

.card-header-divider .card-subtitle {
    margin-top: 0;
    margin-bottom: 0;
}

.card-subtitle {
    display: block;
    font-size: 1rem;
    color: #707070;
    margin-top: 0;
    margin-bottom: .4615rem;
    color: #fff;
}

.card.card-header-custom .card-header{
    color: #fff;
    background: #07678F;
}

/* modal */

.modal-header{
    background-color: #07678F !important;
    color: #fff;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}

.modal-title{
    font-weight: 300;
}

.modal-content{
    border-bottom-width: 0;
    border-radius: 3px;
    border: 0;
}

/* button */

button.btn{
    font-weight: 300;
}

/* page head */

.page-head {
    padding: 0px 0px 10px;
    position: relative;
}

.page-head-title {
    display: block;
    margin-bottom: 5px;
    margin-top: 6px;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 2.154rem;
    color: #6b6b6b;
    line-height: 36px;
}

.page-head .breadcrumb {
    background-color: transparent;
    padding: 3px 0;
    margin-bottom: 7px;
    line-height: 16px;
}

.page-head .breadcrumb>li {
    font-size: 1.077rem;
    font-weight: 300;
}

/* sidebarCollapse */

button#closeSidebarCollapse{
    position: fixed;
    top: 0;
    border-radius: 0;
    left: 250px;
    transition: all 0.3s;
    background-color: #737373;
    color: #fff;
    width: 40px;
    height: 40px;
}

button#closeSidebarCollapse.active{
    left: 0;
}

@media (max-width: 768px) {
    button#closeSidebarCollapse{
        left: 0px;
    }
    button#closeSidebarCollapse.active{
        left: 250px;
        width: auto;
    }
    button#closeSidebarCollapse.active::after{
        content: 'Close'
    }
}

/* card table */

.card-table .card-body {
    padding: 0;
    overflow-x: scroll;
}

.card-table div.row{
    margin-right: 0px;
    margin-left: 0px;
}
.card-table div.row:first-child, .card-table div.row:last-child{
    padding-left: 25px;
    padding-right: 25px;
}

.card-table div.row:last-child{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.card-table tr td:first-child, .card-table tr th:first-child {
    padding-left: 20px;
}

.card-table tr td:last-child, .card-table tr th:last-child {
    padding-right: 20px;
}

.card-table thead tr th {
    padding-top: 15px;
    padding-bottom: 10px;
}

/* datepicker */
.datepicker{
    z-index: 9999 !important;
}

/* td.details-control */

table.table-hover td.details-control:hover{
    cursor: pointer;
}

.fc-today
{
  background-color:inherit !important;
}

/* schedule preview */

.fc-event{
    background-color: #fff !important;
    border: none !important;
}

.fc-day-grid table tbody tr:first-child div.fc-content{
    background-color: #ffe66d;
}
.fc-day-grid table tbody tr:nth-child(2) div.fc-content{
    background-color: #ff6b6b;
}
.fc-day-grid table tbody tr:nth-child(3) div.fc-content{
    background-color: #4ecdc4;
}
.fc-day-grid table tbody tr:nth-child(4) div.fc-content{
    background-color: #edf2f4;
}

.fc-button-group button{
    border-radius: 0px;
    background-color: #FA742F !important;
    border: none;
    margin-top: 5px;
    margin-left: 5px;
}

.fc-button-group button.fc-button-active{
    background-color: #07678F !important;
}

.download-pdf{
    float: right;
    cursor: pointer;
}

/* button */
.table button{
    max-width: 81px;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
    
    .card .card-header{
        display: none;
    }

    main.container {
        margin-top: 100px;
    }

    #sidebar{
        display: none;
    }

    #content{
        width: 100%;
    }
}

/* author: ilham */
.blinktext{
   animation:blinker 1s linear infinite;
}
@keyframes blinker {
   50% { opacity:0.0; }
}

.inputButton {
 position: absolute;
 opacity: 0;
}